@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Roboto:ital,wght@0,100;1,100&display=swap");
body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden; }

header {
  background: #1b2a4e; }

.navbar {
  background: #1b2a4e; }

.listas {
  text-align: left;
  font-size: 20px; }

.titulo1 {
  font-weight: bold;
  font-size: 30px;
  border-top: 3px;
  padding: 3px; }

.titulo2 {
  text-align: left;
  font-weight: bold;
  padding-top: 30px; }

.parrafo {
  text-align: left;
  font-size: 20px; }

/********** MENU ************* */
#menu li > a {
  font-size: 18px;
  font-weight: bold; }

#menu form > button f {
  font-size: 18px;
  font-weight: bold; }

/********** SLIDER IMAGENES ************* */
.carousel-inner {
  max-height: 50rem; }

/********** FOOTER ************* */
footer {
  background: #1b2a4e;
  min-height: 100px; }

footer p {
  color: #f3f3f3;
  text-align: center; }

#iconos i {
  font-size: 20px;
  padding: 0 8px;
  color: #f3f3f3; }

#iconos a {
  font-size: 20px;
  padding: 0 8px;
  color: #f3f3f3;
  text-decoration: none; }

#carouselExampleIndicators1 {
  width: 75%;
  margin: auto; }

/********** CONTACTOS BACKGROUND  ************* */
#bg-contacto {
  position: relative;
  top: -130px; }

#seccion-contacto {
  background-color: #1b2a4e;
  min-height: 700px;
  position: relative; }

/********** CONTACTOS FORMULARIO  ************* */
#contenedor-formulario {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fbfafa;
  border-radius: 5px;
  max-width: 500px; }

#iframe-mapa {
  width: 1300px;
  height: 750px; }

/* TABLETA*/
@media (min-width: 700px) and (max-width: 1100px) {
  .imagen {
    width: 300px;
    height: 100px; }
  .listas {
    text-align: left;
    font-size: 15px; }
  .titulo1 {
    font-weight: bold;
    font-size: 25px;
    border-top: 2px;
    padding: 2px; }
  .titulo2 {
    text-align: left;
    font-weight: bold;
    padding-top: 20px; }
  .parrafo {
    text-align: left;
    font-size: 15px; }
  #iframe-mapa {
    width: 500px;
    height: 300px; } }

/* MOVIL*/
@media (max-width: 699px) {
  .imagen {
    width: 250px;
    height: 80px; }
  .listas {
    text-align: left;
    font-size: 15px; }
  .titulo1 {
    font-weight: bold;
    font-size: 25px;
    border-top: 2px;
    padding: 2px; }
  .titulo2 {
    text-align: left;
    font-weight: bold;
    padding-top: 10px; }
  .parrafo {
    text-align: left;
    font-size: 15px; }
  #iframe-mapa {
    width: 300px;
    height: 200px; } }
