body {
    font-family:'Roboto', sans-serif;
    overflow-x: hidden;
}

header {
    background: #1b2a4e;
}

.navbar {
    background: #1b2a4e;
}

.listas {
    text-align: left;
    font-size: 20px;
    
}

.titulo1 {
    font-weight: bold;
    font-size: 30px;
    border-top: 3px;
    padding: 3px;
}


.titulo2 {
    text-align: left;
    font-weight: bold;
    padding-top: 30px;
}

.parrafo {
    text-align: left;
    font-size: 20px;

}