/********** FOOTER ************* */
footer {
    background: #1b2a4e;
    min-height: 100px;
}

footer p {
    color: #f3f3f3;
    text-align: center;
}

#iconos i {
    font-size: 20px;
    padding: 0 8px;
    color: #f3f3f3;
   
}

#iconos a {
    font-size: 20px;
    padding: 0 8px;
    color: #f3f3f3;
    text-decoration: none;
   
}

#carouselExampleIndicators1 {
    width: 75%;
    margin: auto;
    

}
