/* TABLETA*/

@media (min-width: 700px) and (max-width:1100px){

    .imagen{
        width: 300px;
        height: 100px;
    }

}





/* MOVIL*/
  
@media (max-width:699px){
    .imagen{
        width: 250px;
        height: 80px;
    }

}